<h1>註冊頁面</h1>
<div class="w-full max-w-xs m-auto">
  <%= form_with model: @user, url: user_index_path, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f|%>
    <div class="form-field mb-4">
      <%= form_group_for f, :nick_name, label: "用戶暱稱" do %>
        <%= f.text_field :nick_name, class: "shadow appearance-none border  border-blue-100  rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{"border-red-500" if f.object.errors.present? }" %>
      <% end %>
    </div>
    <div class="form-field mb-4">
      <%= form_group_for f, :email, label: "信箱" do %>
        <%= f.email_field :email, class: "shadow appearance-none border border-blue-100 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{"border-red-500" if f.object.errors.present? }" %>
      <% end %>
    </div>
    <div class="form-field mb-4" >
      <%= form_group_for f, :password_digest, label: "密碼" do %>
        <div data-controller="toggle"  class="relative w-full">
          <div class="absolute inset-y-0 right-0 flex items-center px-2">
            <label data-action="click->toggle#toggle" class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label" id="password-label" for="toggle">show</label>
          </div>
          <%= f.password_field :password_digest, class: "shadow appearance-none border border-blue-100 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "password-field" %>
        </div>
      <% end %>
    </div>
    <%= f.submit "註冊", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
