<h1>註冊頁面</h1>
<div class="form">
  <%= form_with model: @user, url: user_index_path do |f|%>
    <%= render "user/helpers/error_msg" %>
    <div class="form-field flex">
      <%= form_group_for f, :nick_name, label: "用戶暱稱" do %>
        <%= f.text_field :nick_name %>
      <% end %>
    </div>
    <div class="form-field flex">
      <%= f.label :email, "信箱" %>
      <%= f.text_field :email %>
    </div>
    <div class="form-field flex">
      <%= f.label :password, "密碼" %>
      <%= f.text_field :password %>
    </div>
    <%= f.submit "註冊", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
